
<br><br><br><br>
<h2>{{welcome}}</h2>
<br><br>
<mat-card class="example-card" *ngIf="card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{card.firstName}}</mat-card-title>
        <mat-card-subtitle>{{card.lastName}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="../images/food.jpg" > -->
    <mat-card-content>
        <label class="col-md-2 col-form-label" for="height">Height</label>
        <div class="col-md-8">
            <input class="form-control" id="height" type="text" value={{card.height}}/>

        </div>
        <label class="col-md-2 col-form-label" for="weight">Weight</label>
        <div class="col-md-8">
            <input class="form-control" id="weight" type="text" value={{card.weight}}/>

        </div>
        <label class="col-md-2 col-form-label" for="bmi">BMI</label>
        <div class="col-md-8">
            <input class="form-control" id="bmi" type="text" value={{card.bmi}}>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="offset-md-2 col-md-4">
            <button class="btn btn-primary mr-3" style="width:120px" (click)='edit()'>Edit</button>

        </div>      
        
    </mat-card-actions>
</mat-card>