.example-card{
    background:#c1d5ea;
    width: 400px;
}
.mat-card-subtitle {
    
    color: black;
}
.mat-card-title {
    color: rgba(0,0,0,.54); 
    
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    height: 35px;
    position: absolute;
    right: 10px;
}